$accent-background-color:#222831;
$primary-background-color: #2e333a;
$text-color: #eeeeee;
$text-hover-color:#cccccc;
$contrast-color:#00adb5;


$font-weights:("regular": 300,
    "medium" :500,
    "bold" :700);

:root {
    font-size: 16px;
}

$mobile: 800px;